// ----------------------------------------------------------------------------
// Mixins
// ----------------------------------------------------------------------------

@mixin clearfix {
  &::after {
    clear: both;
    content: '';
    display: table;
  }
}

@mixin hide {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  z-index: -1;
}

@mixin visuallyhidden {
  border: 0 none;
  clip: rect(0px, 0px, 0px, 0px);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
