// ----------------------------------------------------------------------------
// Variables
// ----------------------------------------------------------------------------


// Singularity Legacy support
$legacy-support-for-ie6: false;
$legacy-support-for-ie7: false;
$legacy-support-for-ie8: false;

$default-gutter: 0;

// Singularity Grid
@include add-grid(12);
@include add-gutter($default-gutter);


// Breakpoints: Min-width
$xxs:   400px;
$xs:    480px;
$s:    	550px;
$m:   	768px;

$ml:    890px;

$l:    	992px;
$xl:    1200px;
$xxl:   1400px;
$xxxl: 	1600px;

// Breakpoints: Max-width
$upto-xxs:  max-width ($xxs - 1px );
$upto-xs:   max-width ($xs - 1px);
$upto-s:  	max-width ($s - 1px);
$upto-m:   	max-width ($m - 1px);
$upto-ml:   max-width ($ml - 1px);
$upto-l:    max-width ($l - 1px);
$upto-xl:   max-width ($xl - 1px);
$upto-xxl:  max-width ($xxl - 1px);


// Breakpoints: Between Min-width & Max-width
$xxs-xs: $xxs ($xs - 1px);
$xs-s: 	$xs ($s - 1px);
$xs-m:  $xs ($m - 1px);
$s-m:  		$s ($m - 1px);
$s-l:   	$s ($l - 1px);
$s-xl:    	$s ($xl - 1px);
$m-l:  		$m ($l - 1px);
$m-xl:   	$m ($xl - 1px);
$l-xl:    	$l ($xl - 1px);
$xl-xxl:    $xl ($xxl - 1px);

$s-ml:   	$s ($ml - 1px);


// Grid breaking
$gb: $m;


// Layout
//$page-holder: 1240px;
$page-margin: 20px;
$page-holder: 840px + $page-margin;


// Rounding
$radius: 4px;


// Font type variable
$font-type-normal: 400;
$font-type-bold: 600;

// Define color
$site-color: #10b0b8;
$link-color: $site-color;

$logo-font: 'Indie Flower', cursive;
$site-font: 'Source Sans Pro', sans-serif;